@inherits LayoutComponentBase

<PageTitle>form-testor-blazor-server</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content" style="padding: 0px !important; margin: 0px !important;">
            @Body
        </article>
    </main>
</div>
